/* Your custom styles */
body {
    background-color : #1C2331;
    background-size: cover;
}
    
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgb(10, 28, 63);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(10, 28, 63);
    }
}

hr {
    border-width: 3px;
}

#buttonsizeHome_page{
    width: 250px;
}

#buttonplayersize{
    width: 105px;
}

#buttonsizequipe{
    width: 105px;
}

#custom_navlink {
    background-color: #00C851;
}
#custom_navlink:hover {
    background-color: #4cdf64;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after {
    padding: 5px;
 }
 .dataTables_wrapper .mdb-select {
     border: none;
 }
 .dataTables_wrapper .mdb-select.form-control {
     padding-top: 0;
     margin-top: -1rem;
     margin-left: 0.7rem;
     margin-right: 0.7rem;
     width: 100px;
 }
 .dataTables_length label {
     display: flex;
     justify-content: left;
 }
 .dataTables_filter label {
     margin-bottom: 0;
 }
 .dataTables_filter label input.form-control {
     margin-top: -0.6rem;
     padding-bottom: 0;
 }
 table.dataTable {
     margin-bottom: 3rem!important;
 }
 div.dataTables_wrapper div.dataTables_info {
     padding-top: 0;
 }
          
.table-wrapper-2 {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
tr:hover { 
    background: rgb(207, 207, 207); 
 }
